@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}
.box-container{
  width: 60%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}
.box{
  width: 269px;
  padding: 15px;
  min-height: 430px;
}
.box1{
   background-color: hsl(31,77%,52%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.box2{
   background-color: hsl(184,100%,22%)
}
.box3{
  background-color: hsl(179,100%,13%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.content{
  padding: 10px;
}
h1{
  color: hsl(0,0%,95%);  
  text-transform: uppercase;  
  font-family: 'Big Shoulders Display', sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin: 20px 0; 
}
p{
  color: hsla(0,0%,100%,0.75);
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.5em;
}
.btn{
  margin: 60px 0;
  padding: 15px 40px;
  border: 0;
  border-radius: 20px;
  outline: none;
  background-color: #fff;
  font-size: 15px;
  cursor: pointer;
  font-family: 'Lexend Deca', sans-serif;  
  font-weight: 700;  
}
.btn1{  
  color: hsl(31, 77%, 52%);  
 }  
.btn2{  
  color: hsl(184, 100%, 22%);  
 }  
.btn3{  
  color: hsl(179, 100%, 13%);  
 }  
.btn:hover{  
  background-color: transparent;  
  border: 2px solid #FFF;  
  color: #FFF;  
  transition: 0.4s;  
 }  

.link{
  background-color: grey;
  border: 2px solid white;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
}
.link a {
  text-decoration: none;
}

/* Grid style */
.container {
  width: 60%;
  margin: auto;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.box7 {
  background-color: rgba(208, 159, 184, 0.8);
  padding: 50px;
  grid-column: 1 / 5;
  grid-row: span 2;
}

.box8 {
  background-color: rgba(34, 11, 141, 0.8);
  padding: 50px;
  grid-column: span 2;
  grid-row: span 2;
}

.box9 {
  background-color: rgba(45, 170, 48, 0.8);
  padding: 50px;
  grid-row: span 2;
  grid-column: span 3;

}

.box10 {
  background-color: rgba(170, 161, 45, 0.8);
  padding: 50px;

  grid-column: span 3;
}

.box11 {
  background-color: rgba(170, 161, 45, 0.8);
  padding: 50px;
  grid-column: span 3;
}